.msgContainer
  padding: 10px 10px 35px
  border-top: 1px solid #e3e3e3
  color: #e3e3e3

  .userIcon
    font-size: 35px

  .user
    margin: 0px 10px
    position: relative
    bottom: 5px

  .message
    margin-top: 10px

  .timeContainer
    font-size: 10px
    float: right

.ownMessage
  background-color: #4e4e4e