<mat-toolbar class="toolbar" color="primary">
  <span>
    <i class="fa fa-exchange" aria-hidden="true"></i>
    chatter
  </span>
</mat-toolbar>

<div
  #chatContainer
  malihu-scrollbar
  class="chat-container"
  [scrollbarOptions]="scrollbarOptions">

  <div *ngIf="!chatReady; else chatTemplate">
    <mat-spinner
      class="spinner"
      [diameter]="35">
    </mat-spinner>
  </div>

  <ng-template #chatTemplate>
    <div class="welcomeMessage">
      Connection established
    </div>
    <chat-body
      [messages]="messages">
    </chat-body>
  </ng-template>

  <div class="chat-input-container">
    <chat-input [disabled]="!chatReady"></chat-input>
  </div>

</div>